.App {
  text-align: left;
  font-family: "Helvetica Neue", sans-serif;
  color: #fff;
}

.App-header {
  background-color: #071330;
  min-height: 5vh;
  display: grid;
  grid-template-columns: 40vw 60vw;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: sticky;
  top: 0;
  font-family: "Helvetica Neue", sans-serif;
  z-index:1000;
}

.header-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3vw;
}

.App-logo {
  height: 10vmin;
  margin-left: 3vw;
  margin-right: 1.5vw;
}

.App-title {
  margin-left: 0;
}

.header-text {
  font-size: calc(5px + 2vmin);
  margin-right: 1.5vw;
}

/* Search bar scss in ./components/searchBar.scss */

.email-icon {
  height: 4vmin;
  padding-right: 3vw;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

body {
  background-color: #141414;
}
  
.container {
  margin: 0 3vw;
}

.episode-section {
  display: flex;
  flex-direction: row;
  padding-left: 4vw;
}

.Meme-img {
  width: 17.5vw;
  height: 80%;
  border-radius: 5px;
}

.Alt-text {
  color: #fff;
}

.card {
  width: 17.5vw;
  height: 26vh;
  border-radius: 5px;
  margin: 0.3vw;
  transition: transform 500ms;
  position: relative;
  display: block;
}

.episode-section:focus-within .card,
.episode-section:focus, .card {
  transform: translate(-25%);
  z-index: 1;
}

.card:focus ~ .card,
.card:hover ~ .card {
  transform: translateX(25%);
}

.episode-section .card:focus,
.episode-section .card:hover {
  transform: scale(1.5);
  z-index: 1;
}

.more-button {
  height: 10vh;
  display: flex;
  padding: 3vh 0;
  margin-left: -1vw;
  z-index: 99;
}

.more-button:hover {
  height: 15vh;
  padding: 2vh 0;
}

.page-end {
  width: 100%;
  height: 30vh;
  background-color: #141414;
}

.footer {
  width: 100%;
  height: 20vh;
}

.footer-text {
  color: lightgray;
  text-align: center;
  font-size: 6;
}